---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
    <header id="main" style="background-image: url('{{ page.feature-img | relative_url }}')">
        <div class="title-padder">
            {% if page.hide_title %}
                <div class="feature-image-padding"></div>
            {% else %}
                <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title"> {{ page.title }}</h1>
                {% if page.subtitle %}
                    <h2 class="subtitle">{{ page.subtitle }}</h2>
                {% endif %}
            {% endif %}
        </div>
    </header>
    <section class="post-content">
    {% if page.bootstrap %}
        <div class="bootstrap-iso">
            {% endif %}
            {{ content }}
            {% if page.bootstrap %}
        </div>
        {% endif %}
    </section>

    <!-- Looks for which track(s) a page is a part of, then initializes colored next/previous page buttons as appropriate for each track -->
    <section class="next-previous-page-buttons">
        <div class="esports-track">
            {% if page.esports-track %}
                {% if page.next-esports-page and page.previous-esports-page %}
                    {% include buttons/esports_next_and_previous.html %}
                {% elsif page.next-esports-page %}
                    {% include buttons/esports_next_page.html %}
                {% elsif page.previous-esports-page %}
                    {% include buttons/esports_previous_page.html %}
                {% endif %}
            {% endif %}
        </div>
        <div class="nightlife-track">
            {% if page.nightlife-track %}
                {% if page.next-nightlife-page and page.previous-nightlife-page %}
                    {% include buttons/nightlife_next_and_previous.html %}
                {% elsif page.next-nightlife-page %}
                    {% include buttons/nightlife_next_page.html %}
                {% elsif page.previous-nightlife-page %}
                    {% include buttons/nightlife_previous_page.html %}
                {% endif %}
            {% endif %}
        </div>
        <div class="virtual-concerts-track">
            {% if page.virtual-concerts-track %}
                {% if page.next-virtual-concerts-page and page.previous-virtual-concerts-page %}
                    {% include buttons/virtual_concerts_next_and_previous.html %}
                {% elsif page.next-virtual-concerts-page %}
                    {% include buttons/virtual_concerts_next_page.html %}
                {% elsif page.previous-virtual-concerts-page %}
                    {% include buttons/virtual_concerts_previous_page.html %}
                {% endif %}
            {% endif %}
        </div>
        <div class="immersion-track">
            {% if page.immersion-track %}
                {% if page.next-immersion-page and page.previous-immersion-page %}
                    {% include buttons/immersion_next_and_previous.html %}
                {% elsif page.next-immersion-page %}
                    {% include buttons/immersion_next_page.html %}
                {% elsif page.previous-immersion-page %}
                    {% include buttons/immersion_previous_page.html %}
                {% endif %}
            {% endif %}
        </div>
        <div class="liveness-track">
            {% if page.liveness-track %}
                {% if page.next-liveness-page and page.previous-liveness-page %}
                    {% include buttons/liveness_next_and_previous.html %}
                {% elsif page.next-liveness-page %}
                    {% include buttons/liveness_next_page.html %}
                {% elsif page.previous-liveness-page %}
                    {% include buttons/liveness_previous_page.html %}
                {% endif %}
            {% endif %}
        </div>
        <div class="virtuality-track">
            {% if page.virtuality-track %}
                {% if page.next-virtuality-page and page.previous-virtuality-page %}
                    {% include buttons/virtuality_next_and_previous.html %}
                {% elsif page.next-virtuality-page %}
                    {% include buttons/virtuality_next_page.html %}
                {% elsif page.previous-virtuality-page %}
                    {% include buttons/virtuality_previous_page.html %}
                {% endif %}
            {% endif %}
        </div>
    </section>
    <!-- Tag list for portfolio -->
    {% capture tag_list %}{{ page.tags | join: "|" }}{% endcapture %}
    {% capture _tags %}{% include default/tags_list.liquid tags=tag_list %}{% endcapture %}
    {{ _tags | split: " " | join: " " }}
</article>
